/* If you are not familiar with CSS, I don't suggest you making any changes but color*/

body {
  font-family: Helvetica, Arial;
  color: #484849;
}
/* Font for the entire e-card*/

p {
  text-align: center;
}

header {
  margin: auto;
  width: 90%;
  padding-left: 15px
}

#logo>img {
  width: 100px;
}
/* logo size*/

h1 {
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
}
/* font and alignment of the top heading*/

header>p {
  font-size: 1em;
  text-align: left;
  line-height: 1.5em;
}

#importance {
  width: 320px;
  margin: auto;
}

.fa-gift {
  color: #FF6C0C;
}

.small-gift {
  font-size: 40px;
}

#big-gift {
  font-size: 80px
}

#first-gift-icon {
  margin-left: 8.5%;
}

.signs {
  font-size: 40px;
  padding: 20px;
  color: #F1D384;
}

#gifts {
  width: 298px;
  margin: auto;
}

.caption {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
}

#your-gift {
  margin-left: 5%;
}

#match {
  margin-left: 11.2%;
}

#impact {
  margin-left: 17.7%;
}

#main {
  width: 600px;
  margin: auto;
}

.benefits {
  display: inline-block;
  width: 190px;
  height: 190px;
  padding: 10px;
  position: relative;
}

.left {
  margin-left: 90px;
  margin-right: -4px;;
}

.top {
  margin-top: 15px
}

span[class*="number"] {
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 40px;
} 

.numbers-orange {
  padding-right: 5px;
  font-weight: bold;
  color: #FF6C0C;
  display: block;
}

.numbers-white {
  padding-right: 5px;
  font-weight: bold;
  color: white;
  display: block;
}

#top-left, #bottom-right {
  background-color: #FF6C0C;
}

#top-left>p, #bottom-right>p {
  color: white;
}

#top-left {
  border-top: #FF6C0C solid 5px;
  border-left: #FF6C0C solid 5px;
}

#top-right {
  background-image: url("https://yinxx724.github.io/svg/gradcap.svg");
  background-position: center; 
  background-size: 310px;
  background-repeat: no-repeat;
  border-top: #FF6C0C solid 5px;
  border-right: #FF6C0C solid 5px;
}

#bottom-left {
  background-image: url("https://yinxx724.github.io/svg/atom.svg");
  background-position: center; 
  background-size: 360px;
  background-repeat: no-repeat;
  border-bottom: #FF6C0C solid 5px;
  border-left: #FF6C0C solid 5px;
}

#bottom-right {
  border-bottom: #FF6C0C solid 5px;
  border-right: #FF6C0C solid 5px;
}

#check {
  margin: 10px auto 5px auto;
}

#check>p {
  line-height: 1.5em;
}

#match-number {
  color: #FF6C0C;
  font-size: 28px;
  font-weight: bold;
  vertical-align: sub;
}

#check a {
  color: #FF6C0C;
  font-weight: bold
}

@media screen and (max-width: 545px) {
  header {
    width: auto;
  }
  
  h1 {
    font-size: 16px;
    text-align: center;
  }
  
  header>p {
    font-size: 1em;
  }
  
  #importance {
    display: none;
  }
  
  #main {
    width: auto;
    margin: auto;
  }
  
  .benefits {
    display: inline-block;
    width: 140px;
    height: 140px;
    padding: 5px;
  }
  
  span[class*="number"] {
    padding-top: 35px;
    padding-bottom: 10px;
    font-size: 30px;
  } 
  .benefits>p {
    font-size: 12px;
  }
}

@media screen and (max-width: 432px) {
  .benefits {
    display: block;
    padding: 5px;
    margin: auto;
  }

  #top-right {
    border-right: none;
    border-top: none;
    border-bottom: 5px solid #FF6C0C;
  }
  
  #bottom-left {
    border: none;
  }
}
